li {
  color: red;
}

.c-title {
  color: red;
}

body {
  background-color: black;
}

body h1, body h2, body ul {
  color: #fff;
}

body li {
  color: blue;
}

body p {
  color: green;
}

.c-link {
  color: green;
}

.c-link:hover {
  color: #fff;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: large;
}
